$primaryColor: #FF0000;
body {
  font-family: Verdana;
  font-size: 1.5em;
}

#team-members {
  clear: both;
  .member {
    float: left;
    border: 1px solid black;
    border-radius: 10px;
    width: 300px;
    margin: 10px;
    padding: 6px;

    img {
      border-radius:50%;
      width: 100px;
      height: 100px;
      &:hover {
        transform: rotate(360deg);
        transition: all 1s;
      }
    }

    .name {
    text-align: left;
      p {
      font-size: 60%;
      }
    }
  }
}


